<footer>
	<div>
		<div class="info">
			<h3>Служба поддержки</h3>
			<p><a href="tel:+380979609549">097 960 95 49</a></p>
			<p>Время работы:<br>с <span class="bold">09:00</span> до <span class="bold">18:00</span><br>без выходных</p>
		</div>
	
		<nav class="support">
			<h3>Сервис и помощь</h3>
			<ul>
				<li><a href="">Как оформить накладную</a></li>
				<li><a href="">Cпособы оплаты</a></li>
				<li><a href="">Жалобы и пожелания</a></li>
			</ul>
		</nav>
	
		<nav class="main-feedback">
			<h3>Навигация</h3>
			<ul>
				<li><a href="/">Главная страница</a></li>
				<li><a href="">Обратная связь</a></li>
			</ul>
		</nav>
	
		<nav class="about">
			<h3>О компании</h3>
			<ul>
				<li><a href="">О нас</a></li>
				<li><a href="">Партнёрам</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
		</nav>
	</div>
	<script>
		window.onload = function() {
			document.body.removeAttribute("id")
		}
	</script>
</footer>