<nav class="main-nav">
	<div>
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/new-waybill">Создать накладную</a></li>
			<li><a href="/my-waybills">Мои накладные</a></li>
			<li><a href="/add-card">Добавить карту</a></li>
			<li><a href="/about">О нас</a></li>
			<li><a href="/contacts">Контакты</a></li>
		</ul>
		<?php
				$client = new Client();
				$client->fromArray($_SESSION["user"]);
		?>
		<div class="logined-user">
			<span>Привет, <span class="bold"><?php echo $client->getName() . " " . $client->getSurname(); unset($client);?></span></span>
			<a href="/action/logout">Выход</a>
		</div>
	</div>
</nav>