<nav class="main-nav">
	<div>
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/about">О нас</a></li>
			<li><a href="/contacts">Контакты</a></li>
		</ul>
		<div class="reg-signing">
			<a href="/sign-in">Вход</a>
			<a href="/sign-up">Регистрация</a>
		</div>
	</div>
</nav>