@charset "utf-8";

*, *::before, *::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
}
body#transition-disabled {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

main {
	margin: 30px auto;
	min-width: 600px;
	max-width: 1600px;
}
main h1 {
	text-align: center;
}

h1, h2 {
	margin-bottom: 20px;
}
h3 {
	margin-bottom: 15px;
}

ul {
	list-style: none;
	list-style-image: none;
}

a {
	text-decoration: none;
	color: rgb(74, 0, 97);
	transition: all .3s ease-in-out;
}
a:hover {
	color: #ffa500;
}
.dashed {
	border-bottom: 2px dashed rgb(74, 0, 97);
}
.dashed:hover {
	border-color: #ffa500;
}

select, input {
	margin-bottom: 10px;
	padding: 5px 10px;
	font-size: 16px;
	outline: none;
	border: none;
	border-bottom: 2px solid #ffa500;
}
.button {
	padding: 10px 20px;
	text-align: center;
	color: #ffffff;
	background-color: #ffa500;
	border: 2px solid #ffa500;
	font-size: 1.1em;
}

.bold {
	font-weight: bold;
}

.main-nav {
	width: 100%;
	border-top: 2px solid #ffa500;
	border-bottom: 2px solid #ffa500;
	margin-bottom: 15px;
	background-color: #fafafa;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	font-size: 1.2rem;
}
.main-nav > div {
	display: flex;
	justify-content: space-between;
}
.main-nav ul {
	margin-top: 15px;
}
.main-nav ul li {
	display: inline-block;
}
.main-nav ul li a {
	padding: 15px 20px;
}
.reg-signing a, .logined-user a, .logined-user > span {
	display: inline-block;
	padding: 15px 20px;
}

.grid-wrapper {
	display: grid;
	/* grid-gap: 10px 0; */
}
.grid-wrapper div {
	padding: 10px;
	border-top: 2px solid #ffa500;
}
.cols-7 {
	grid-template-columns: repeat(7, auto);
}

.form {
	max-width: 500px;
	margin: 0 auto;
	padding: 0 20px;
}
.form h1 {
	text-align: center;
}
.form p {
	line-height: 2rem;
}
.form select, .form input {
	width: 100%;
}

footer {
	border-top: 2px solid #ffa500;
	font-size: 0.9rem;
	margin-top: 20px;
}
footer > div {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	max-width: 1000px;
	margin: 20px auto;
}
footer p, footer a {
	line-height: 1.6rem;
}
.clearfix::before, .clearfix::after {
	content: " ";
	display: table;
}
.clearfix::after {
	clear: both;
}