<!DOCTYPE html>
<html>
<head>
	<meta http-equiv = "content-type" content = "text/html" charset = "UTF-8" />
	<link href = "../css/reset.css" rel = "stylesheet" type = "text/css" />
	<link href = "../css/style.css" rel = "stylesheet" type = "text/css" />
	<title> О нас </title>
</head>

<body>
<?php  include("include/block-header.php"); ?>
<div id = "block-content">



</div>



<?php include("include/footer.php"); ?>	
</body>

</html>