<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Добавление карты</title>
	<link href="resources/css/style.css" rel="stylesheet" type="text/css">
</head>

<body id="transition-disabled">
	<?php includeNavigation() ?>
	<main>
		<div class="form">
			<h1>Добавление карты</h1>
			<form name="addCardForm" action="action/addCard" method="POST">
				<div>
					<label>
						<p>Номер карты</p>
						<input type="text" name="creditCard" pattern="[0-9\s-]{16,19}" placeholder="Номер Вашей карты" required>
					</label>
					<label>
						<p>Срок действия</p>
						<input type="date" name="expirationDate" placeholder="Срок действия" required>
					</label>
					<label>
						<p>CVV</p>
						<input type="password" name="CVV" pattern="[0-9]{3}" placeholder="CVV" required>
					</label>
					<input type="submit" name="addCard" class="button" value="Добавить">
				</div>
			</form>
		</div>
	</main>
	<?php include_once "pages/parts/footer.phtml";?>
</body>
</html>