<?php
session_start();
?>

<?php
	include("db_connect.php");

?>
<html>
<head>

	<meta http-equiv = "content-type" content = "text/html" charset = "UTF-8" />
	
	<link href = "css/reset.css" rel = "stylesheet" type = "text/css" />
	<link href = "css/style.css" rel = "stylesheet" type = "text/css" />
	<link href = "css/reg.css" rel = "stylesheet" type = "text/css" />
	<link href = "css/waybill.css" rel = "stylesheet" type = "text/css" />
	<title>Почта</title>
</head>

<body>
<?php include("include/block-header.php"); ?>
<div class="container mregister">
	<div id="login">
		
	<h1>Добавить упаковку</h1>
	<br/>
	<form name="packingform" id="packingform" action="qr_code_page.php" method="post">
	<p>
		<label>Выберите упаковку<br/>
		<select>
			<option label="packing" value="1" selected>Упаковка</option>
			<option>Коробка, 1 кг</option>
			<option>Коробка, 2 кг</option>
			<option>Суммы</option>
		</select>
		</label>
	</p>
	<br>
	<p>
		<label>Длина, см<br/>
		<p>34</p>
		</label>
	</p>
	<br>
	<p>
		<label>Ширина, см<br/>
		<p>24</p>
		</label>
	</p>
	<br>
	<p>
		<label>Высота, см<br/>
		<p>10</p>
		</label>
	</p>
	<br>
	<p>
		<label>Цена, грн<br/>
		<p>10</p>
		</label>
	</p>
	<br/>
	<p class="submit">
		<input type="submit" name="newPacking" id="packing" class="button" value="Добавить"/>
	</p>
	
</form>
	</div>
</div>

<div id = "block-content">

</div>
 <?php include("include/footer.php"); ?>
</body>
</html>