<?php
session_start();
?>

<?php
	include("db_connect.php");

?>
<html>
<head>

	<meta http-equiv = "content-type" content = "text/html" charset = "UTF-8" />
	
	<link href = "css/reset.css" rel = "stylesheet" type = "text/css" />
	<link href = "css/style.css" rel = "stylesheet" type = "text/css" />
	<link href = "css/reg.css" rel = "stylesheet" type = "text/css" />
	<link href = "css/waybill.css" rel = "stylesheet" type = "text/css" />
	<link href = "css/parcel.css" rel = "stylesheet" type = "text/css" />
	<title>Почта</title>
</head>

<body>
<?php include("include/block-header.php"); ?>
<div class="container mregister">
	<div id="login">
		
	<h1>Добавить посылку</h1>
	<br/>
	<form name="parcelform" id="parcelform" action="addPacking.php" method="post">
	<p>
		<label>Описание<br/>
		<input type="text" name="description" id="description" class="input" value=""/>
		</label>
	</p>
	<br/>
	<p>
		<label>Длина, см<br/>
		<input type="text" name="lenght" id="lenght" class="input" value=""/>
		</label>
	</p>
	<br/>
	<p>
		<label>Ширина, см<br/>
		<input type="text" name="width" id="width" class="input" value=""/>
		</label>
	</p>
	<p>
		<label>Высота, см<br/>
		<input type="text" name="height" id="height" class="input" value=""/>
		</label>
	</p>
	<p>
		<label>Масса, кг<br/>
		<input type="text" name="weight" id="weight" class="input" value=""/>
		</label>
	</p>
	<p>
		<label>Объявленная стоимость, грн<br/>
		<input type="text" name="dec_value" id="dec_value" class="input" value=""/>
		</label>
	</p>
	<p>
		<label>Наложенный платёж, грн<br />
		<input type="text" name="coll_on_del" id="coll_on_del" class="input" value=""/>
		</label>
	</p>
	<p>
		<label>Тип посылки<br />
		<select>
			<option label="parcel_type" value="1" selected>Тип посылки</option>
			<option>Посылка</option>
			<option>Груз</option>
			<option>Документы</option>
		</select>
		</label>
	</p>	
	<br/>
	<br/>
	<p class="submit">
		<input type="submit" name="newParcel" id="parcel" class="button" value="Добавить"/>
	</p>
	
</form>
	</div>
</div>
 <?php include("include/footer.php"); ?>
</body>
</html>