<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Почта</title>
	<link href="resources/css/style.css" rel="stylesheet" type="text/css">
</head>

<body id="transition-disabled">
	<?php includeNavigation() ?>
<main>
	<div class="form">
		<h1>Новая накладная</h1>
		<form name="waybillform" action="action/parcel" method="POST">
			<div>
				<label>
					<p>Выберите город отправки</p>
					<select name="sent-city" required>
						<option label="Город" selected disabled></option>
						<option value="1">Киев</option>
						<option value="2">Харьков</option>
						<option value="3">Суммы</option>
					</select>
				</label>
				<label>
					<p>Выберите отделение отправки</p>
					<select name="sent-address" required>
						<option label="Адрес отделения доставки" selected disabled></option>
						<option value="1">Отделение №1, ул. Полевая, 3</option>
						<option value="2">Отделение №2, ул. Полтавский шлях, 5</option>
					</select>
				</label>
				<label>
					<p>Выберите город прибытия</p>
					<select name="dest-city" required>
						<option label="Город" selected disabled></option>
						<option value="1">Киев</option>
						<option value="2">Харьков</option>
						<option value="3">Суммы</option>
					</select>
				</label>
				<label>
					<p>Выберите отделение прибытия</p>
					<select name="dest-address" required>
						<option label="Адрес отделения" selected disabled></option>
						<option value="1">Отделение №1, ул. Сечевых Стрельцов, 2</option>
						<option value="2">Отделение №2, ул. Грушевского, 1А</option>
						<option value="3">Отделение №3, ул. Франко, 22</option>
						<option value="4">Отделение №4, ул. Бережная 4</option>
					</select>
				</label>
				<div>
					<label>
						<p>Укажите получателя</p>
						<input type="text" name="receiver-name" placeholder="Имя получателя" required>
						<br>
						<input type="tel" name="receiver-phone" placeholder="Телефон получателя" required>
					</label>
				</div>
				<label>
					<p>Выберите тип доставки</p>
					<select name="delivery-type" required>
						<option label="Доставка" selected disabled></option>
						<option value="1">Прямая</option>
						<option value="2">Обратная</option>
					</select>
				</label>
				<label>
					<p>Доставку оплачивает</p>
					<select name="delivery-payer" required>
						<option label="Плательщик доставки" selected disabled></option>
						<option value="1">Отправитель</option>
						<option value="2">Получатель</option>
					</select>
				</label>
				<input type="submit" name="new-waybill" class="button" value="Создать">
			</div>
		</form>
	</div>
</main>
<?php
	include "pages/parts/footer.phtml";
?>
</body>
</html>