<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="resources/css/style.css" rel="stylesheet" type="text/css">
</head>

<body id="transition-disabled">
	<?php include_once "pages/parts/navigation.phtml";?>

	<?php include_once "pages/parts/footer.phtml";?>
</body>
</html>