<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Мои накладные</title>
	<link href="resources/css/style.css" rel="stylesheet" type="text/css">
</head>

<body id="transition-disabled">
	<?php includeNavigation() ?>
	<main>
		<h1>Мои накладные</h1>
		<div class="grid-wrapper cols-7">
			<div class="bold">Отправитель</div>
			<div class="bold">Отделение</div>
			<div class="bold">Стоимость</div>
			<div class="bold">Плательщик услуг</div>
			<div class="bold">Статус</div>
			<div class="bold">Оплата</div>
			<div class="bold">Посылки</div>
			<div>Галагура Костянтин, 0999404312</div>
			<div>Отделение №4, ул.Бережная, 4</div>
			<div>51</div>
			<div>Отправитель</div>
			<div>В пути</div>
			<div>Оплачено</div>
			<div><a href="" class="dashed">Детальнее</a></div>
		</div>
	</main>
	<?php include_once "pages/parts/footer.phtml";?>
</body>
</html>