<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Вход</title>
	<link href="resources/css/style.css" rel="stylesheet" type="text/css">
</head>

<body id="transition-disabled">
	<?php includeNavigation() ?>
	<main>
		<div class="form">
			<h1>Вход</h1>
			<form name="singInform" action="action/sign-in" method="POST">
				<div>
					<label>
						<p>Телефон</p>
						<input type="tel" name="phone" placeholder="Ваш телефон" required>
					</label>
					<label>
						<p>Пароль</p>
						<input type="password" name="password" placeholder="Ваш пароль" required>
					</label>
					<input type="submit" name="signIn" class="button" value="Войти">
				</div>
			</form>
		</div>
	</main>
	<?php include_once "pages/parts/footer.phtml";?>
</body>
</html>