<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Регистрация</title>
	<link href="resources/css/style.css" rel="stylesheet" type="text/css">
</head>

<body id="transition-disabled">
	<?php includeNavigation() ?>
	<main>
		<div class="form">
			<h1>Регистрация</h1>
			<form name="singUpform" action="action/sign-up" method="POST">
				<div>
					<label>
						<p>Имя</p>
						<input type="text" name="name" placeholder="Ваше имя" required>
					</label>
					<label>
						<p>Фамилия</p>
						<input type="text" name="surname" placeholder="Ваша фамилия" required>
					</label>
					<label>
						<p>Телефон</p>
						<input type="tel" name="phone" placeholder="Ваш телефон" required>
					</label>
					<label>
						<p>Пароль</p>
						<input type="password" name="password" placeholder="Ваш пароль" required>
					</label>
					<input type="submit" name="signUp" class="button" value="Зарегистрироваться">
				</div>
			</form>
		</div>
	</main>
	<?php include_once "pages/parts/footer.phtml";?>
</body>
</html>